.help-window {
	background: #4682B4;
	color: #F0F8FF;
	border-radius: 25px;
	display: grid;
	grid-template-rows: 1fr 4fr 1fr;
	box-sizing: border-box;
	padding-inline: 1.5em;
	width: fit-content;
	height: 100%;
	overflow: hidden;
	text-align: left;
	font-size: 90%;
	grid-row-start: 2;
	grid-column-start: 2;
}

.help-title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.5em;
}

.help-title * {
	font-size: 150%;
}

.help-content {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-around;
	overflow-y: auto;
	overflow-x: hidden;
	gap: 1em;
	padding-inline: 10px;
}

#exit-help {
	margin: 1em auto 1em;
}

.help-content img {
	position: absolute;
	width: 100%;
	height: 100%;
	min-width: 200px;
	min-height: 200px;
	object-fit: contain;
	aspect-ratio: 1/1;
	transform: scale(0.8);
}

.help-content * {
	flex: 1;
}

.help-text {
	min-width: 15em;
}