* {
	font-size: inherit;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 10;

	display: grid;
	justify-items: center;
	align-items: center;
	grid-template: 4em 1fr 4em / 4em 1fr 4em;
}

.overlay * {
	font-size: 21px;
	box-sizing: border-box;
}