#diceUI {
	flex-grow: 1;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
}

/* 단독으로 존재하는 텍스트를 div로 감쌌습니다 */
#diceUI div {
	font-size: 100%;
}

#diceUI .grid {
	border: 3px;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	width: 1fr;
	aspect-ratio: 1 / 1;
	gap: 0.5em;
}

#diceUI .cell {
	border: 3px solid black;
	color: black;
	background-color: rgba(241, 246, 255, 0.975);

	padding: 0.5em;

	display: grid;
	text-align: center;
	align-content: center;
	vertical-align: middle;

	font-size: 2.5rem;

	position: relative;
}

#diceUI .cell:hover {
	box-shadow: 0 0 1cqb #333;
}

#diceUI .cell[draggable=true]:hover {
	cursor: move;
}

#diceUI .cell[data-locked=true] {
	color: red;
}

#diceUI .cell[data-determined=true] {
	border-color: red;
}

#diceUI .cell[data-selectmode=true]:hover {
	box-shadow: 0 0 1cqb white;
	color: grey;
	cursor: pointer;
}

/* 그리드 하단 UI */
#diceUI #diceControls {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: left;
	gap: 0.25em
}

#diceUI #diceControls>button {
	padding: 3px;
}

#diceUI .cell .corner-text {
	position: absolute;
	bottom: 1cqh;
	right: 1cqw;
	color: grey;
	font-size: 2cqw;
}

#itemPopUp {
	position: fixed;
	left: 0;
	right: 0;
	justify-self: center;
	text-align: center;
	padding: 10px;
	font-size: calc(min(2cqw, 22px));
	background-color: #00369b;
	border-radius: 0 0 10px 10px;
}